body{
    background: linear-gradient(0.25turn, #8ad9fc, #ebf8e1, hsl(315, 100%, 77%));
}
.cuadro{
    border: solid 1px +rgb(185, 229, 235);
    background-color: rgb(229, 194, 240);
    box-shadow: 1px 1px 10px rgb(78, 20, 145);
    display: flex;
    justify-content: center;
    align-items: center;
 }
.imgX{
    width: 100px;

}
.cuadrog{
    display: grid;
    grid-template-columns: repeat(3,100px);
    margin: 0 auto;
    justify-content: center;
    grid-template-rows: repeat(3,100px);  
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    column-gap: 10px;
    row-gap: 10px;
 }

 .cuadro:hover{
    background-color:  rgb(222, 151, 243); 
 }

.h1{

    text-align: center;
    text-shadow: 1px 1px 10px;
    color: rgb(89, 58, 116);
}
.button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    padding: 10px 40px; 
    border-radius: 20px; 
    box-shadow: 1px 1px 15px;
    background-color: rgb(238, 195, 227);
}

